<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>XXX</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>XXX</string>
	<key>API_KEY</key>
	<string>XXX</string>
	<key>GCM_SENDER_ID</key>
	<string>XXX</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BelleT.DermaVigil-SwiftUI</string>
	<key>PROJECT_ID</key>
	<string>dermavigil</string>
	<key>STORAGE_BUCKET</key>
	<string>dermavigil.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043973874573:ios:8ee1824c56d80224af13c4</string>
	<key>DATABASE_URL</key>
	<string>https://dermavigil.firebaseio.com</string>
</dict>
</plist>
